.loginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(230, 168, 0, 1);
    box-shadow:5px 5px #ca6303;
    box-sizing: border-box;
    border-radius: 20px;
}

.loginContainer .box{
    width: 100%;
  padding: 2px 0 0 0;
  font-size: 16px;
  color: #F2B705;
  margin-bottom: 30px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background: transparent;
}

.loginContainer h2{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }

.loginInput{
    border-radius: 20px;
    font-family:'Poppins',sans-serif;
    border: none;
    padding: 2px 80px 2px 8px;
}
label.loginLabel{
    display:block;
    position: relative;
    left:12px;
    transform: translateY(-24px);
    color:black;
    transition: all ease-in-out .2s;
    pointer-events: none
  }

input.loginInput:focus ~ label.loginLabel,
input.loginInput:valid ~ label.loginLabel{
    transform: translateY(-64px);
    color:white;
    font-weight: bold;
  }

button#loginBtn{
    font-size:15px;
    border-radius: 20px;
    border:none;
    position: relative;
    margin: 0 100px;
    padding:10px 40px;
    background-color: white;
    box-shadow:3px 3px #ca6303,-3px -3px #81574b;
    color:#81574b;
    font-family:'Poppins',sans-serif;
    cursor:pointer;
    transition: all ease-in-out .2s;
}

button#loginBtn:hover{
    box-shadow:5px 5px #ca6303, -5px -5px #81574b;
    transform: scale(1.1);
    /* box-shadow:-5px -5px #81574b; */
}